*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:sans-serif;
    
}
.hero{
    position:relative;
    width: 100%;
    height: 100vh;
    background-color:#eff4fd;

}
nav{
    display: flex;
    width:84%;
    margin: auto;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}
nav ul li :hover{
    color: red;

}
.detail{
    margin-left:8%;
    margin-top:13%;
}
.detail h1{
    font: size 80px;;
    color: black;
    margin-bottom: 40px;
}
span{
    color:orange;

}
.detail p{
    color: #555;
    line-height: 22px;
}
.detail a{
    background:black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border: radius 5px;
}
.images{
    width: 45%;
    height:75%;
    position:absolute;
    bottom: 0;
    right:10px;

}
.images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s,left 1s;

}
.images:hover .girl{
    left:45%;
}
.images:hover .shape{
    botton:40px;
}
.images .shape{
    width:70%;

}
.images .girl{
    width:40%;
}
.about{
    width:100%;
    padding: 100px 0px;

}
.about img{
    height:auto;
    width: 400px;
}
.about-text{
    width:550px;
}
.main {
    width:1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: black;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;

}
.about-text h5{
    color:black;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: black;
    letter-spacing:1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.service{
    width:100%;
    padding:50px 0px;
}
.title h2{
    color:#f9004d;
    font-size:55px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;   
}
.box{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height:550px;
    width: 440px;
    padding: 20px 35px;
    background: #191919;
    border: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}
h5{
    color: white;
    font-size: 25px;
    margin-bottom: 15px;   
}
.pra p{
    color:#fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: #f9004d;
    color: white;
    text-decoration:none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition:.4s ;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;

}
.container{
    width:80%;
    margin-left:5%;
    margin-top:25%;
    
}
.contact-box{
    background:#191919;
    display: flex;
    color: #ccc;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 60%;
    padding: 40px ;
    background: #f9004d;
    
}
h1{
    margin-bottom:10px; 
}
.container p{
    margin-bottom:40px; 
}
.input-row{
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;

}
input{
    width:100%;
    border: none;
    border-bottom: 1px solid #262424;
    outline: none;
    padding-bottom: 5px; 
}
textarea{
    width:100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color:#f9004d;
}
button{
    background:#f9004d;
    width: 100px;
    border:none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px(#df7093);
}
.contact-left h3{
    color:#f9004d;
    font-weight:600;
    margin-bottom: 30px;
}
.contact-right h3{
    color:#f9004d;
    font-weight:600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right:20px;
}
tr td{
    padding-top: 20px;
}
.width-50 {
	float: left;
	width: 50%;
    
}
.skill {
	margin-top: 30px ;
    margin-right: 50px;
    margin-left: 30px;
	font-size: 17px;
}

.skill span {
	float: right;
    color: #f9004d;

    
}

.skill div {
	width: 100%;
	float: left;
	margin-top: 5px;
	background: #e7e7e7;
	border-radius: 10px;
}

.skill div span {
	background:#f9004d;
	height: 5px;
	float: left;
}
.heading-text{
    color:#262424;
    padding-left:40%;
    font-size:xx-large;
}
.home-sci{
    margin: 1%;
}